<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
    </head>
	<body>
		<div class="easyui-layout" data-options="fit:true,border:false"> 
			<input type="hidden" id="id" name="g.id" value="$!{g.id}"/>
			<input type="hidden" id="states" name="g.states" value="(0,1,2)"/>
	        <form method="post" target="hideFrame">
			<div id="p_search" title="" style="height:60px;padding: 2px; background: #fafafa;" data-options="region:'north',iconCls:'icon-search'">
				<br>
				<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
                     <td class="head" noWrap>Group ID:</td>
    					<td>
							<input type="text" id="ecGroup_id" name="ecGroup_id" data-options="required:true"></input>
						</td>	
						<td class="head" noWrap>Group Name:</td>
						<td>
							<input type="text" id="ecGroup_name" name="ecGroup_name" data-options="required:true"></input>
						</td>
		
		
		
    				<td class="head" noWrap>Status</td>
                    <td>
					<select id="state" name="stater" style="width:155px;" data-options="editable:false">
						<option value="">All</option> 
						<option value="0">Pending</option>  
						<option value="1">Approved</option>  
						<option value="2">Reject</option>
                    </select>
					</td>
						<td>	
							<a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search" >Search</a>
							<a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear">Cancel</a> 
        				</td>
                    </tr>
				 </table>
			</div>
			 <div data-options="region:'center'"  border="0">
					<table id="datagrid"  border="0"></table>
				</div>
		</form>
		</div>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="hiddenWin"/> 
    </body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/ecGroup/searchGroupInfo.js"></script>
</html>