<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()	
	</head>
	<body class="easyui-layout">
		<form method="post" target="hideFrame">
			<input type="hidden" name="loadCapacity.id" id="ids" value="$!{loadCapacity.id}">
			<div region="center" class="easyui-panel" data-options="iconCls:'icon-edit'">
				<br /><br /><br />
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
        		<tr>
        				<td class="head" noWrap>装运点编号:</td>
        				<td >
        					<input id="vstel" name="loadCapacity.vstel" value="$!{loadCapacity.vstel}" class="easyui-validatebox" />
            			</td>
				</tr>
				<tr> 
            			<td class="head" noWrap>搬运队编号:</td>
            				<td>
            				<input id="hand_team" name="loadCapacity.hand_team" value="$!{loadCapacity.hand_team}" class="easyui-validatebox" required="true"/>
            			</td>
               	</tr>
				<tr> 
            			<td class="head" noWrap>开始时间:</td>
            				<td>
            				<input id="start_date" class="easyui-timespinner" name="loadCapacity.start_date" value="$!{loadCapacity.start_date}" style="width:80px;" required="true">
            			</td>
				</tr>
				<tr>
						<td class="head" noWrap>结束时间:</td>
            				<td>
            				<input id="end_date" class="easyui-timespinner" name="loadCapacity.end_date" value="$!{loadCapacity.end_date}" style="width:80px;" required="true">
            			</td>
               	</tr>
				<tr> 
            			<td class="head" noWrap>装卸能力:</td>
            				<td>
            				<input id="scheduling" name="loadCapacity.scheduling" value="$!{loadCapacity.scheduling}" class="easyui-numberbox" precision="0" min="0" required="true"/>
            			</td>
               	</tr>
    		</table>
			</div>
			<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
				<a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">保存</a>
			</div>
		</form>
		
		<iframe id="hideFrameDetail" name="hideFrameDetail"  style="height: 0; width: 0"></iframe>
	</body>
	

</html>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/loadCapacity/createLoadCapacity.js"></script>
