<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
		<!-- 查询 -->
		<div class="easyui-layout" data-options="fit:true,border:false"  border="0"> 
	        <form method="post" target="hideFrame">

			    <div data-options="region:'center'"  border="0">
			<input type="hidden" id="id" value="$!{drd.id}"/>
			<input class="easyui-validatebox" type="hidden" id="customer_id" name="customer_id" value="$!{drd.customer_id}"/>
			<input class="easyui-validatebox" type="hidden" id="endCus_id" name="endCus_id" value="$!{drd.endCus_id}"/>
			<input class="easyui-validatebox" type="hidden" id="endCus_groupId" name="endCus_groupId" value="$!{drd.endCus_groupId}"/>
			<input type="hidden" id="start_date" name="start_date" value="$!{drd.start_dateStr}"/>
			<input type="hidden" id="end_date" name="end_date" value="$!{drd.end_dateStr}"/>
			<input type="hidden" id="material_id" name="material_id" value="$!{drd.material_id}"/>
				<table id="datagrid" border="0"></table>
				</div>
	</form>
	</div>
	<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
	<div id="hiddenWin"/> 
	</div>
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/designReg/toCheck.js"></script>
</html>