<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
		<!-- 查询 -->
		<div class="easyui-layout" data-options="fit:true,border:false"> 
			<input type="hidden" id="ids"/>
	        <form method="post" target="hideFrame">
			<div id="p_search" title="" style="height:60px;padding: 2px; background: #fafafa;" data-options="region:'north',iconCls:'icon-search'">
				
				<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
                     <td class="head" noWrap>Purchase Order</td>
                    <td><input class="easyui-validatebox" id="order_id" name="order_id"></td>
 					 <td class="head" noWrap>Customer</td>
                    <td><input class="easyui-validatebox" id="branch_id" name="branch_id"></td>
					<td class="head" noWrap>Status</td>
                    <td>
					<select id="state" name="state" style="width:155px;" data-options="editable:false">
						<option value="">所有</option>  
						<option value="U">正常</option>  
						<option value="D">冻结</option>
                    </select>
					</td>	
					<td colspan="2">
						<a id="search" href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">Search</a>
                    	<a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear">cancel</a> 	
					</td>		
					
                </tr>
                </table>
				 </div>
			    <div data-options="region:'center'">
					<table id="datagrid"></table>
				</div>
	</form>
	</div>
	<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
	<div id="hiddenWin"/> 
	</div>
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/enquiry/searchEnquiry.js"></script>
</html>