<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="levelDictAction" class="com.jingtong.platform.leveldict.action.LevelDictAction"
		parent="baseAction" scope="request">
		<property name="levelDictService" ref="levelDictService" />
	</bean>
	
	<bean id="levelDictService" class="com.jingtong.platform.leveldict.service.impl.LevelDictService">
		<property name="levelDictDao" ref="levelDictDao"/>
	</bean>
	
	<bean id="levelDictDao" class="com.jingtong.platform.leveldict.dao.impl.LevelDictDao" parent="baseDao">
	</bean>
	 
</beans>
