<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="productAction" class="com.jingtong.platform.product.action.ProductAction"
		parent="baseAction" scope="request">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="productService" class="com.jingtong.platform.product.service.impl.ProductServiceImpl">
		<property name="productDao" ref="productDao"/>
		<property name="transactionTemplate" ref="transactionTemplate" />
	</bean>
	
	<bean id="productDao" class="com.jingtong.platform.product.dao.impl.ProductDaoImpl" parent="baseDao">
	</bean>
	 
</beans>
