<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
    </head>
	<body>
		<div class="easyui-layout" data-options="fit:true,border:false"> 
			<input type="hidden" id="id" name="g.id" value="$!{g.id}"/>
	        <form method="post" target="hideFrame">
			<div id="p_search" title="" style="height:100px;padding:1px; background: #fafafa;" data-options="region:'north',iconCls:'icon-search'">
				<br>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
                    <td class="head" noWrap>DISTI NAME</td>
                    <td><input class="easyui-validatebox" id="cus_name" ></td>
					<td class="head" noWrap>STATUS</td>
					<td>
 					<select id="status" name="status" value="(0)"style="width:155px;" data-options="editable:false">
						<option value="(0,1,3,9)">All</option> 
						<option value="(3)">Approved</option>  
						<option value="(0)">Reject</option> 
						<option value="(1)">Pending</option> 
						<option value="(9)">Transfer</option>

                    </select>
					</td>
					<td class="head" noWrap>FILE NAME</td>
                    <td><input class="easyui-validatebox" id="file_url"></td>
				<tr>
					<td class="head" noWrap>START TIME</td>
                    <td><input class="easyui-datebox" id="start_time" name="start_time1"></td>
					<td class="head" noWrap>END TIME</td>
                    <td><input class="easyui-datebox" id="end_time" name="end_time1"></td>
						<td class="head" noWrap>FILE ID</td>
                    <td><input class="easyui-validatebox" id="file_id"></td>
                 </tr>
				 <tr>
				     <td colspan="6"><a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search" >Search</a> <a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear" id="clearV">Cancel</a></td>
				 </tr>
				 </table>
			</div>
			 <div data-options="region:'center'"  border="0">
					<table id="datagrid"  border="0"></table>
				</div>
		</form>
		</div>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="hiddenWin"/> 
    </body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/cusInventroy/searchCusInventroy.js"></script>
