<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()	
	</head>
	<body class="easyui-layout">
		<form method="post" target="hideFrame">
			<div region="center" class="easyui-panel"   data-options="iconCls:'icon-edit'">
			<input type="hidden" id="customer_code" name="customer_code" value="$!{cusUser.customer_code}"/>	
			<input type="hidden" id="hqsign" name="allUsers.hqsign" value="0"/>	
            <input type="hidden" id="userId" name="userId1" value="$!{ids}"/>	
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
        			<tr>
                        <td class="head" noWrap>User Id(<font color='red'>Login Id</font>):</td>
        				<td><input class="easyui-validatebox"  id="loginId" name="allUsers.loginId" value="$!{allUsers.loginId}" data-options="required:true" missingMessage="Please enter a valid LoginId" onblur="testId(document.getElementById('loginId').value)">
						<div style="display: none" id="infoDiv"><input type="text" id = "infoTxt" style="border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;" disabled >
                          <input type="hidden"  id="pass" />
                         </div>
						</td>
						
						<td class="head" noWrap>Customer Name<font color='red'>*</font>:</td>
        				<td><input class="easyui-validatebox"  id="userName" name="allUsers.userName"  value="$!{allUsers.userName}"   data-options="required:true">
								<div id="toolbarDistiBranch" class="datagrid-toolbar">
									<input class="easyui-searchbox" searcher="searcherDistiBranch" prompt="Pls enter DistiName keyword search" style="width:200px"></input>		
								</div>	
						</td>
						
        			</tr>
        			 
        			<tr>
        				<td class="head" noWrap>Password<font color='red'>*</font>:</td>
        				<td>
        				<input class="easyui-validatebox"  type="password" id="passWd" value='123456' name="allUsers.passWd" value="$!{allUsers.passWd}" data-options="required:true" validType="length[6,99]" missingMessage="at least 6 characters" invalidMessage="at least 6 characters">
                            <font color='green'>Initial password:123456</font>
						</td>
						
						<td class="head" noWrap>Confirm Password<font color='red'>*</font>:</td>
        				<td>
        				<input class="easyui-validatebox" type="password" id="repassWd" value='123456' name="statirepassWdonId" value="$!{allUsers.passWd}" validType="equalTo['#passWd']" invalidMessage="Passwords must match"></td>
						 
        			</tr>
        			 
        		 
        			<tr>
						
        				<td class="head" noWrap>Email<font color='red'>*</font>:</td>
        				<td>
        				<input class="easyui-validatebox"  id="email" name="allUsers.email" data-options="required:true" value="$!{allUsers.email}"
							missingMessage="Please enter your email" validType="email" invalidMessage="please input correct email format,like：xxx@sina.com"></td>
        				<td class="head" noWrap>Mobilephone<font color='red'>*</font>:</td>
        				<td>
        				<input class="easyui-validatebox"  id="busMobilephone" name="allUsers.busMobilephone" data-options="required:true"  value="$!{allUsers.busMobilephone}"
							missingMessage="Please enter your phone number"></td>
					
        			</tr>
					<tr>
        				<td class="head" noWrap>Sample Funloc:</td>
        				<td>
							<input class="easyui-validatebox"  id="trafficExpense" name="allUsers.trafficExpense" value="$!{allUsers.trafficExpense}"style="width:150px">
							<div id="toolbarCustomer" class="datagrid-toolbar">
								<input class="easyui-searchbox" searcher="searcherCustomer" prompt="Key word search" style="width:250px"></input>		
							 </div>		
						</td>
        			</tr>
        			  <!--
						<td class="head" noWrap>Tel:</td>
        				<td><input class="easyui-validatebox"  id="phone" name="allUsers.phone" value="$!{allUsers.phone}"></td>
					  	<td class="head" noWrap>Remark:</td>
        				<td><input class="easyui-validatebox"  id="remark" name="allUsers.remark" value="$!{allUsers.remark}"></td>
					-->
					<tr>
						<td class="head" noWrap><font color='green'>Tips:</font></td>
						<td>
							<font color='green'>Field marked with <font color='red'>*</font> is not allowed to blank</font>
						</td>
					</tr>
		    </table>
			 
			</div>
			<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
				<a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">Create</a>
				<a class="easyui-linkbutton" icon="icon-cancel" href="javascript:cancel()">Cancel</a>
			</div>
		</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		 <div id="hiddenWin"/> 
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/customer/createCustomerUser.js"></script>
</html>