<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
	</head>
	<body>
		
         <div id="cc" class="easyui-layout" data-options="fit:true" style="width:1000px;height:400px;">  
			  <form method="post" target="hideFrame">
                   <div data-options="region:'center'">
				   <input type="hidden" id="customer_code" name="customer_code" value="$!{customer_code}" />
    					<table id="datagrid"></table>
    				</div>
 			  </form >
          </div> 
          <iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
          <div id="hiddenWin"/> 
          </div>
	</body>
<script type="text/javascript" src="$!{env.imgUrl}/js/platform/customer/searchCustomerUser.js"></script>
</html>