<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
    </head>
	<body>
		<div class="easyui-layout" data-options="fit:true,border:false"> 
			<input type="hidden" id="id" name="g.id" value="$!{g.id}"/>
	        <form method="post" target="hideFrame">
			<div id="p_search" title="" style="height:60px;padding: 2px; background: #fafafa;" data-options="region:'north',iconCls:'icon-search'">
				<br>
				<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
					<td class="head" noWrap>Disti Name:</td>
    					<td>
							<input type="validatebox" id="disti_name" name="disti_name" ></input>
						</td>	
                     <td class="head" noWrap>Disti Branch:</td>
    					<td>
							<input type="text" id="disti_branch" name="disti_branch" ></input>
						</td>	
						<td class="head" noWrap>Paycode:</td>
						<td>
							<input type="text" id="payer_to" name="payer_to" ></input>
						</td>
						<td>	
							<a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search" >Search</a>
							<a href="javascript:clearValue()" class="easyui-linkbutton" iconCls="icon-clear">Cancel</a> 
        				</td>
                    </tr>
				 </table>
			</div>
			 <div data-options="region:'center'"  border="0">
					<table id="datagrid"  border="0"></table>
				</div>
		</form>
		</div>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="hiddenWin"/> 
    </body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/customer/searchDistiBranch.js" charset="utf-8"></script>
</html>