<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui"])
		#JS_ENV_VAL()
    </head>
	<body>
		<form action="" method="post">
				<input type="hidden" id="id" name="pr.id" value="0">	
				<div  class="easyui-panel"  border="0" title="" data-options="collapsible:true,iconCls:'icon-detail'" style="padding: 2px; background: #fafafa;">
 				<table  border="0" cellpadding="0" cellspacing="5">
 						<tr>
                            <td class="head" noWrap  width='160'><label for="name">DISTI_HQ_SOLDTO:</label></td>
                            <td class="context" width='220'>
								 <input class="easyui-validatebox"  id="disti_hq_soldto" name='pr.disti_hq_soldto' value="$!{pr.disti_hq_soldto}"    ></input>
							</td >
							</tr>
							<tr>
                            <td class="head" noWrap width='160'><label for="name">REGION_LEVEL2 :</label></td>
                            <td noWrap class="context" width='220'>
								 <input class="easyui-validatebox"  id="region_level2" name="pr.region_level2" value='$!{pr.region_level2}' ></input>	
							</td>
						</tr>
						<tr>
							<td class="head" noWrap><label for="name">GLOBAL_ACCOUNT :</label></td>
							<td noWrap  class="context">
								 <input class="easyui-validatebox"  id="global_account" name='pr.global_account' value='$!{pr.global_account}'  ></input>
							</td>
							</tr>
							<tr>
							<td class="head" noWrap><label for="name">LOC_REP_COUNTRY:</label></td>
                            <td  class="context">
								<input class="easyui-validatebox" id="loc_rep_country" name="pr.loc_rep_country" value='$!{pr.loc_rep_country}' ></input>
							</td>
						</tr>
					</table>
					</p>				             
		</div>
		</div>  
		
		<br/>
			<div region="south" border="false" style="text-align:center;height:20px;line-height:20px;">
				<a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">Submit</a>
				<a class="easyui-linkbutton" icon="icon-cancel" href="javascript:cancel()">Cancel</a>
			</div>

		</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="maintWindow"/> 
    </body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/branchMapping/add.js?v=3"></script>
</html>