<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui","upload"])
		#JS_ENV_VAL()	
	</head>
	<body>
		<form  method="post" enctype="multipart/form-data" id="writeForm">
		<input type="hidden" id="planId" name="planId" value="$singleTotal.plan_id" />
		<input type="hidden" id="size"  value="$singleTotal.detailList.size()" />
		<input type="hidden" id="flag" value="$!{flag}" name="flag" />
		<input type="hidden" id="transaction_id"  name="transaction_id" value="$singleTotal.transaction_id" />
		<div class="easyui-panel" title="职能费用核销" data-options="iconCls:'icon-edit'" style="width:1150px;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
    				<td class="head" noWrap style="text-align: right">
    					事务标题
    				</td>
					<td noWrap>
						<input class="easyui-validatebox" type='text' size="30" id='title' name="title" data-options ="required:true"/>
					</td>
                </tr>
				<tr>
    				<td class="head" noWrap style="text-align: right">
    					提交人
    				</td>
					<td noWrap>
						<input id="curUserName" name="userName" size="30" class="easyui-validatebox" type='text' value='$!{userName}' readonly />
						<input id="curUserId" name="userId" type="hidden" value="$!{userId}" />
					</td>
                 </tr>
				 <tr>
					<td class="head" noWrap style="text-align: right">
						提交人部门
                    </td>
					<td>
						<input name="singleTotal.org_name" type='text' size="30" value='$!{orgName}' class="easyui-validatebox" readonly/>
						<input name="singleTotal.org_id" type='hidden' value='$!{orgId}' />
                    </td>
				 </tr>
				 <!--
				 <tr>
					<td class="head" no Wrap style="text-align : right">
						参考创建
					</td>
					<td>
						<input type="text" id="reference" name="reference" />
					</td>
				 </tr>
				-->
				 <tr>
    				<td class="head" noWrap style="text-align: right">
    					附件上传
    				</td>
					<td colspan="3">
						<div id="input">
							<input class="easyui-validatebox" size="30" name="upload" id="file0" type="file" value="添加附件" onchange="addFile()" />
						</div>
						<div id="_file"></div>
					</td>
				 </tr>
		    </table>
		</div>
		<div class="easyui-panel" title="核销--总单信息" style="width:1150px;">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
    				<td class="head" noWrap style="text-align: right">
    					 收款人
    				</td>
					<td class="even">
						$!{singleTotal.pay_ee}
					</td>
					<td class="head" noWrap style="text-align: right">
						支付账号
                    </td>
					<td class="even">
						$!{singleTotal.pay_account}
                    </td>
                </tr>
				<tr>
					<td class="head" noWrap style="text-align: right">
    					支付类型
    				</td>
					<td class="even">
						#if($!{singleTotal.pay_type}=="1")
							现金
						#elseif($!{singleTotal.pay_type}=="2")
							银行
						#elseif($!{singleTotal.pay_type}=="3")
							其他
						#end
					</td>
					<!--
					#if($!{modifyFlag})
					<td style="PADDING-RIGHT: 3px;PADDING-BOTTOM: 5px;COLOR: #999999;WORD-BREAK: break-all;PADDING-TOP: 3px;BACKGROUND-COLOR: #ffffff;">
						#if($!{singleTotal.pay_type}=="1")
							<input type='radio' value="1" name="singleTotal.pay_type" checked >现金</input>
							<input type='radio' value="2" name="singleTotal.pay_type" >银行</input>
							<input type='radio' value="3" name="singleTotal.pay_type" >其他</input>
						#elseif($!{singleTotal.pay_type}=="2")
							<input type='radio' value="1" name="singleTotal.pay_type" >现金</input>
							<input type='radio' value="2" name="singleTotal.pay_type" checked >银行</input>
							<input type='radio' value="3" name="singleTotal.pay_type" >其他</input>
						#elseif($!{singleTotal.pay_type}=="3")
							<input type='radio' value="1" name="singleTotal.pay_type" >现金</input>
							<input type='radio' value="2" name="singleTotal.pay_type" >银行</input>
							<input type='radio' value="3" name="singleTotal.pay_type" checked >其他</input>
						#end
					</td>
					#else
					-->
					<!-- #end -->
					<td class="head" noWrap style="text-align: right">
    					合计报销金额
    				</td>
					<td class="even">
						<!--
						#if($!{modifyFlag})
							<input id="totalMoney" name="singleTotal.total_money" type="text" value="$!{singleTotal.total_money}" readonly/>
						#else
							<input id="totalMoney" name="singleTotal.total_money" type='hidden' value="$!{singleTotal.total_money}" />
						#end
						-->
						$!{singleTotal.total_money}
					</td>
				</tr>
				<tr>
					<td class="head" noWrap style="text-align: right">
    					实际报销金额
    				</td>
					<td class="even">
						<input id="auditMoney" name="audit_money" type="text" value="$!{singleTotal.audit_money}" readonly/>
					</td>
				</tr>
				<tr>
					
    				<td class="head" noWrap style="text-align: right">
    					说明
    				</td>
					<td class="even" colspan="2">
						<!--
						#if($!{curStaId} == "start1")
							<input name="singleTotal.memo" type="text" class="easyui-validatebox" value="$!{singleTotal.memo}" size="54"/>
						#else
							<input name="singleTotal.memo" type='hidden' value="$!{singleTotal.memo}" />
						-->
						$!{singleTotal.memo}
						<!-- #end -->
					</td>
				 </tr>
		    </table>
		</div>
		
		<div region="south" border="false" style="height:6px;"></div>
		
		<div class="easyui-panel" title="核销--明细信息" style="width:1150px;;">
			<table id="myTab" width="100%" cellpadding="0" border="1px" bordercolor="#cccccc" cellspacing="0px" style="border-collapse:collapse">
				
				<tr style="height:25px;BACKGROUND-COLOR:#efefef">
					<td width="12%" style="text-align: center">
						费用类型
                    </td>
					<td width="10%" style="text-align: center">
						成本中心
                    </td>
					<td width="14%"style="text-align: center">
						预算编号
                    </td>
					<td width="8%" style="text-align: center">
						费用日期
                    </td>
					<td width="10%" style="text-align: center">
						实际报销金额
                    </td>
					<td width="10%" style="text-align: center">
						核销金额
                    </td>
					<td width="10%" style="text-align: center">
						业务所属期间
                    </td>
                </tr>
				<input type="hidden"  id="tmp"  value="$!{tmp}" />
				#foreach($singleDetail in $singleTotal.detailList)
				#set($num = $velocityCount%2+1)
				<input type="hidden" id="detailId_$velocityCount" value="$!{singleDetail.detail_id}" />
				<tr id="tr_$velocityCount" style="height:23px" class="even$num">
					<!--
					#if($!{curStaId} == "start1")
					<td>
						<input id="item_$velocityCount" type="checkbox" />
					</td>
					#end
					-->
					<td>
						$!{singleDetail.cost_type_content}
						<!--
						#if($!{modifyFlag})
							<input id="expType_$velocityCount" />
							<input id="costTypeText_$velocityCount" type="hidden" value="$!{singleDetail.cost_type_content}" />
							<input id="costTypeValue_$velocityCount" type="hidden" value="$!{singleDetail.org_name}" />
						#else
							-->
							
						<!-- #end -->
					</td>
					<td>
						<!--
						#if($!{curStaId} == "start1")
							<input id="costPurpose_$velocityCount" type="text" class="easyui-validatebox" value="$!{singleDetail.cost_purpose}" style="width:130px" />
						#else
						-->
							<input id="costPurpose_$velocityCount" type="hidden" value="$!{singleDetail.cost_purpose}" />
							$!{singleDetail.org_name}
						<!-- #end -->
					</td>
					<td>
						<!--
						#if($!{curStaId} == "start1")
							<input id="costPurpose_$velocityCount" type="text" class="easyui-validatebox" value="$!{singleDetail.cost_purpose}" style="width:130px" />
						#else
						 -->
							<input id="costPurpose_$velocityCount" type="hidden" value="$!{singleDetail.cost_purpose}" />
							$!{singleDetail.budget_number}
						<!-- #end -->
					</td>
					<td>
						<!--
						#if($!{curStaId} == "start1")
							<input id="costDate_$velocityCount" name="costDate_$velocityCount" type="text" class="easyui-datebox" value='$dateUtil.datetime($!{singleDetail.cost_date},"yyyy-MM-dd")' />
						#else
						-->
							<input id="costDate_$velocityCount" name="costDate_$velocityCount" type="hidden" value='$dateUtil.datetime($!{singleDetail.cost_date},"yyyy-MM-dd")' />
							$dateUtil.datetime($!{singleDetail.cost_date},"yyyy-MM-dd")
    					<!-- #end -->
					</td>
					<td>
							<input id="invoiceAmount_$velocityCount" type="hidden" value="$!{singleDetail.invoice_amount}" />
							$!{singleDetail.invoice_amount}
					</td>
					<td>
						 #if($!{singleDetail.audit_money})
						 <input id="auditMoney_$velocityCount" onblur="checkIsNumber('$velocityCount', 'auditMoney');" type="text" value="$!{singleDetail.audit_money}" style="width:130px" />
						 #else
						 <input id="auditMoney_$velocityCount" onblur="checkIsNumber('$velocityCount', 'auditMoney');" type="text" value="$!{singleDetail.invoice_amount}" style="width:130px" />
						 #end
					</td>
					<td>
						<!--
						#if($!{curStaId} == "start1")
							<input id="costMemo_$velocityCount" type="text" value="$!{singleDetail.cost_memo}" style="width:210px" />
						#else
						-->
						   <!-- #if($!{singleDetail.businessStartDate})
							$dateUtil.datetime($!{singleDetail.businessStartDate},"yyyy-MM-dd")到
							#end
							#if($!{singleDetail.businessEndDate})
							$dateUtil.datetime($!{singleDetail.businessEndDate},"yyyy-MM-dd")
							#end
							-->
						<input id="costMemo_$velocityCount" type="hidden" value="$!{singleDetail.cost_memo}" />
						#if($!{singleDetail.cost_memo} == "undefined")
						$dateUtil.datetime($!{singleDetail.businessStartDate},"yyyy-MM-dd")到
						$dateUtil.datetime($!{singleDetail.businessEndDate},"yyyy-MM-dd")
    					#else
    						$!{singleDetail.cost_memo}
    					#end
						<!-- #end -->
					</td>
				</tr> 
				#end
		    </table>
		</div>

		<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
			<br>
			<a class="easyui-linkbutton" icon="icon-ok" href="javascript:submit()">确定</a>&nbsp;
		</div>
		<input id="detailJsonStr" name="detailJsonStr" type="hidden" />
		<input id="nextUserId" name="nextUserId" type="hidden" />
		</form>
		<iframe id="hideFrame" name="hideFrame"  style="height: 0; width: 0"></iframe>
		<div id="maintDiv"/>
	</body>
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/account/createWriteExpenseForm.js"></script>
</html>