<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>新闻栏目明细创建</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 	#CSSM(["easyui","style"])
		#JSM(["jquery", "easyui", "ckeditor","editor", "upload", "dwr"])
		#JS_ENV_VAL()	
    </head>
	<body class="easyui-layout" text=#000000 bgColor=#ffffff>
		<form action="" enctype="multipart/form-data" id="sform" name="sform" method="post" >
			<input type="hidden" id="totalShow" name="totalShow"/>
			<input type="hidden" id="totalParentId" name="totalParentId"/>
			<div region="center" class="easyui-panel" title="新闻栏目明细创建" data-options="iconCls:'icon-edit'" style="padding: 2px; background: #fafafa;">
              <fieldset>
							<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
									 <td  noWrap><div>所属栏目<FONT color="#ff0000">*</FONT>
								<input id="totalParentTotal" name="totalParentTotal" class="easyui-combobox" 
									data-options="valueField:'total_title',textField:'total_name',url:appUrl + '/newsAction!searchNewsTotalListbox.jspa'  " />
                                 </div>
                                     </td>
								</tr>
                                <tr> <td  noWrap><div>栏目名称<FONT color="#ff0000">*</FONT>&nbsp;<input  type="text" name="delailTitle" id="delailTitle" /></div></td></tr>
								<tr >
        					<td >
        						<textarea class="ckeditor"  id="delail_content" name="delail_content"></textarea>
        					</td>
                         </tr>
						 <tr>
    				</td>
					<td colspan="3">
						附件上传
						<div id="input">
							<input class="easyui-validatebox" name="upload" id="file0" type="file" value="添加附件" onchange="addFile()" />
							<font size="2.5" color="red">继续点击添加多个附件</font>
						</div>
						<div id="_file"></div>
					</td>
				 </tr>
				</table>
				<div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
        			<a class="easyui-linkbutton" icon="icon-ok" href="javascript:save()">Submit</a>
        			<!--<a class="easyui-linkbutton" icon="icon-cancel" href="javascript:reset()">Cancel</a>-->
        		</div>	
        		</fieldset>		
            </div>
			<input  id="fileInputNumber" type="hidden"  value="0"/>
		</form>
		<iframe id="hideFrame" name="hideFrame"	src="$!{env.imgUrl}/image/space.gif" style="height: 0; width: 0"></iframe>

	</body>
	
	<script type="text/javascript" src="$!{env.imgUrl}/js/platform/news/news_det_add.js"></script>
<script type="text/javascript">
		var editor = CKEDITOR.replace('delail_content');
		var flag = false;
    </script>
</html>
